.wrapper {
  display: flex;
  padding: 10px;
}

.video {
  width: 90%;
  height: 100%;
}

.canvas {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99999;
  pointer-events: none;
}

.timestamp-list {
  margin-top: 0;
  padding-right: 50px;
  max-height: 95vh;
  font-size: 24px;
  overflow-y: auto;
}

.timestamp-element {
  padding-top: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.timestamp-element--disabled {
  color: grey;
  text-decoration: none;
  list-style: none;
}

.timestamp-element--disabled:hover {
  color: black;
  text-decoration: underline !important;
  list-style: disc !important;
}

.timestamp-element:hover {
  text-decoration: none;
  list-style: none;
}